@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,600;0,700;1,300&display=swap');
:root {
  --black:#000000;
  --dgranite:#262626;  
  --granite:#66666E;  
  --manatee: #9999A1;
  --platinum: #E6E6E9;
  --cultured: #F4F4F6;  
  --white:#f0f8ff; 
  --coral: #ff7f50;
  /* fonts */
  /* font shorthand */
  /* font: font-style font-variant font-weight font-size/line-height font-family; */
  /* sample : font: italic small-caps normal 13px/150% Arial, Helvetica, sans-serif; */
  --thin: 100;
  --regular: 300;   
  --bold: 700;    
  --rubik : 'Rubik', sans-serif;
}
* {
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: 'Rubik', sans-serif;
  font-weight: var(--regular);   
  box-sizing: border-box;        
  color: var(--granite);  
  background-color: var(--cultured);     
}
html {
  height: 100vh;
}
body {
  background-color: var(--cultured);
  height:100vh; 
}
header {
  display: flex;
  flex-direction: row;  
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  height: 80px;
  background-color: var(--dgranite);
  width: 100vw;
  min-width: 400px;       
  padding: 0 0 10px 0;  
}
main {
  position: relative;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0); 
  /* margin: 10px 10px 20px 10px; */
  margin:0;
  background-color: var(--cultured);
  width: 100vw;
  /* max-width: 1000px; */
  min-width: 400px;
  height: 100vh;   
  overflow: hidden;
}
a {
  text-decoration: none;
  color: var(--granite);
  font-weight: var(--regular);
}
a:hover, a:focus {
  background-color: var(--cultured);      
  font-weight: var(--regular);
}

.expandable {  
  overflow: hidden;
  color: var(--granite);        
  transition: all .5s ease-in-out;  
  width: 0;
  height: 0;     
  text-align: left;
  background-color: var(--cultured);
}
 
.expandable:target {  
  position: fixed;
  top:0px;
  width: 100%;
  height: 90vh;  
  opacity: 1;
  z-index: 1;
}

.flex-container-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;  
  align-items: baseline;  
  padding: 0 20px 0 20px;
  width: 100vw;
  max-width: 1000px;
  min-width: 400px;    
}
.flex-container-project {
  display: flex;  
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: row;    
  width: 96%;  
  gap:20px;    
  padding: 10px 10px 0 10px;
  background-color: rgba(255,255,255,0);
}
.flex-container-project::-webkit-scrollbar {
  display: none;
}
.flex-container-project{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card-project {
  width:fit-content;
  box-shadow: 0 1px 8px 0 var(--manatee);  
  border-radius: 5px;
  padding: 0 5px 0px 10px;  
  margin-bottom: 150px;
}
.flex-container-icons {
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;  
  flex-wrap: wrap;
  align-items: flex-start;  
  align-content: flex-start;  
  width: 50%;
  max-width: 1000px;
  min-width: 400px; 
  height: 100%;
  margin-bottom: 200px;
  background-color: rgba(255,255,255,0);
}
.flex-container-icons img {
  width: 3vw;  
}
.flex-container-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;  
  align-items: baseline;  
  padding: 0 20px 0 0px;
  width: 100vw;
  max-width: 1000px;
  min-width: 400px; 
  height: 80px;  
  background-color: var(--dgranite); 
}
.flex-container-row img {
  margin: 10px;
  width: 25px;
}
.max-width {
  border-bottom: .05rem solid var(--manatee);
  width: 100%;
}
.menu-items {
  display: flex;
  flex-grow: 1;  
  justify-content: flex-end;
  gap: 10px;
  height: 100%;  
  align-items: flex-end;
  color: var(--granite);
  background-color: var(--dgranite);
  padding: 0 40px 0 0;  
}
.menu-items a {
  text-decoration: none;
  color: var(--cultured);
  background-color: var(--dgranite);
}
.menu-items a:hover, a:focus {  
  text-shadow: 0 0 10px var(--cultured);
  border-bottom: .9 solid var(--cultured);
}
.menu-items a:visited:active {  
  background-color: var(--dgranite);  
}
.selected {
  text-shadow: 0 0 10px var(--cultured); 
}
.logo {  
  height: 100%;  
  color: var(--cultured);  
  font-size: 30px;        
  padding: 20px 0 0 0;
  margin: 0px 10px 0px 20px;  
  overflow: hidden;
  border: 0;  
  width: fit-content;
  background-color: var(--dgranite);  
}
.logo::before{
  content: "{ ... findingnorman }";
  white-space: pre-wrap;
}
.aboutme {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: justify;
  padding: 0 10px 0 0;
  white-space: inherit;
  background-color: rgba(255,255,255,0);
}

.github-card {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;  
  height: 400px;
  box-shadow: 0 1px 8px 0 var(--manatee);  
  border-radius: 5px;
}
.card-cover {
  width: 100%;  
  text-align: center;  
  background-color:var(--coral);
  padding: 20px;  
  border-radius: 5px 5px 0px 0px;
}
.card-cover img {
  background: transparent;
}
.card-text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
img {
  width: 100%;
}
.subtext {
  font-size: 12px;
  color: var(--granite);
}
.avatar {
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  width: 120px;
  height: 120px;
  background-color: var(--cultured);
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}
.center {
  text-align: center;
}
.center-middle {
  text-align: center;
  vertical-align: middle;
}
.name {
  font-weight: var(--bold);  
}

.social-logo {
  width: 20px; 
  height: 20px;  
  position: relative;
  top: 0;
  right: 0;    
  background-color: var(--coral);
}

iframe {
  border: 0;
  width:100%;
  height:2000px;
  overflow-y: scroll;  
  /* overflow: hidden; */
}
iframe::-webkit-scrollbar{
  display: none;
}
iframe {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.home {
  position: relative;  
  z-index: 1;
  width: 60%;
  padding-left: 10px;  
  background-color: rgba(255, 255, 255, 0);
}
.hello{
  font-size: 35px;
  font-weight: bold; 
  display: flex; 
  align-items: center;  
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
.bigpicture {  
  padding: 0;
  position: absolute;  
  bottom: 0px;
  right: 0px;
  width: 50%;
  max-width: 512px;  
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 5px;
  z-index: 2;
}
.bigpicture img {
  width: 100%;
  background: transparent;
}
.circle50 {
  position: absolute;  
  bottom: -20%;  
  right: 0%;
  width: 60vw;
  height: 40vw;
  z-index: -1;
  background-color: rgba(255, 128, 82, .5);
  border-radius: 50vw 0vw 10vw 10vw;
}
.circle60{
  position: absolute;  
  top: 0;  
  right: -10%;
  width: 50vw;
  height: 50vw;
  z-index: -1;
  background-color: rgba(240, 230, 140,.5);
  border-radius: 0vw 0vw 0vw 50vh;
}
.forms{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: stretch;
  vertical-align: middle;
  width: 100vw;
  padding: 10px;  
  background-color: rgba(255,255,255,0);
  position: absolute;
  top: 25%;
}
.form-container {
  border: 0.05rem solid var(--manatee);
  padding: 100px;
  box-shadow: 1px 5px 5px -2px var(--manatee); 
  width:fit-content;
  width: 40vw;
  min-width: 250px;    
  /* max-width: 600px; */
  display: flex;
  justify-content:space-evenly;
  align-items:baseline;  
  align-content: center;
  flex-direction: column;    
  gap: 10px;
  
}
.form-container input, textarea, button {
  width: 100%;
  font-size: 30px;
}
input, textarea, label, button {  
  border: 0.05rem solid var(--manatee);
  color: var(--black);
  font-weight: 400;
  padding: 5px;
  border-radius: 2px;
  margin: 5px;
  min-width: 200px;
  resize: none;
  font-size: 14px;
  display: block;  
  border-radius: 5px;
}
label {
  border:0px;
}
input:focus {
  border: 0.05rem solid var(--granite);    
}
@media screen and (max-width: 1024px) {
  .home {
    width: 65%;
  }
  .flex-container-icons {
    justify-content:space-evenly;
    align-items: stretch;
    width: 50%;
    padding: 0 30px;
  }
  .aboutme {
    font-size: 14px;
    padding: 0 30px;
  }
  .bigpicture {        
    width: 50vw;
  }
  .flex-container-project {    
    font-size: 14px;    
    width: 96%;
    word-wrap: normal;    
  }
  .card-project {
    font-size: 14px;    
  }
  .circle50 {
    position: absolute;  
    bottom: -20%;  
    right: -10%;
    width: 50vw;
    height: 50vw;
    z-index: -1;
    background-color: rgba(255, 128, 82, .5);
    border-radius: 50vw;
  }
  .circle60{
    position: absolute;  
    top: -20%;  
    right: -10%;
    width: 60vw;
    height: 60vw;
    z-index: -1;
    background-color: rgba(240, 230, 140,.5);
    border-radius: 50vw;
  }
  
}

@media screen and (max-width: 768px) {
  .logo {
    height: 60px;
    width: 60px;
    font-size: 40px;    
    border-radius: 30px;
    font-weight: var(--bold);
    color: var(--dgranite);
    margin-top: 10px;
    padding-top: 25px;
    background-color: var(--platinum);
  }
  .logo::before{
    content: "fn";
  }
  .menu-items {    
    font-size: 14px;
    font-weight: var(--regular); 
    padding-right: 10px;   
  }  
  .aboutme {
    font-size: 14px;    
  }
  main {    
    font-size: 14px;
    font-weight: var(--regular);        
  }  
  .logo {
    height: 60px;
    width: 60px;
    font-size: 40px;    
    font-weight: var(--bold);
    color: var(--dgranite);
    padding-top: 25px;
    background-color: var(--platinum);
  }
  
  .home {
    width: 100%;
  } 
  .flex-container-icons {
    width: 50%;    
  } 
  .flex-container-project {       
    align-items: center;    
    flex-direction: column;   
    overflow-y: scroll;
    height: 100vh;
  }
  .card-project {
    width: 280px;    
    word-wrap: normal;    
  }
  .bigpicture {        
    width: 50vw;
    min-width: 384px;
  }
}
@media screen and (max-width: 480px) {
  /* .menu-items {
    visibility: hidden;}       */
  .home {
    width: 100%;
  }        
  .card-project {
    width: 280px;    
    word-wrap: normal;    
  }
  .logo {
    padding-top: 25px;
  }    
  .bigpicture {        
    width: 70vw;
    min-width: 350px;
  }
  .flex-container-icons img {
    width: 5vw;
  }
  .forms{
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .hello {
    font-size: 25px;
  }
  .circle50 {
    position: absolute;  
    bottom: -10%;  
    right: -50%;
    width: 100vw;
    height: 100vw;
    z-index: -1;
    background-color: rgba(255, 128, 82, .5);
    border-radius: 50vw;
  }
  .circle60{
    position: absolute;  
    top: 40vh;  
    left: -20%;
    width: 100vw;
    height: 100vw;
    z-index: -1;
    background-color: rgba(240, 230, 140,.5);
    border-radius: 50vw;
  }
}
@media screen and (max-height: 725px) {
  .bigpicture {
    visibility: hidden;
  }
}