@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
:root {
  --black:#000000;
  --granite:#66666E;  
  --manatee: #9999A1;
  --platinum: #E6E6E9;
  --cultured: #F4F4F6;  
  --white:#f0f8ff; 
  /* fonts */
  /* font shorthand */
  /* font: font-style font-variant font-weight font-size/line-height font-family; */
  /* sample : font: italic small-caps normal 13px/150% Arial, Helvetica, sans-serif; */
  --thin: 100;
  --regular: 400;   
  --bold: 700;    
}
* {
  font-family: 'Noto Sans', sans-serif;
  font-weight: var(--regular);   
  box-sizing: border-box;        
  color: var(--granite);
}
.App {
  text-align: center;
}
body {
  background-color: var(--cultured);
}
header {
  display: flex;
  flex-direction: column;  
  align-items: center;
  position: fixed;
  top: 0;
  height: 120px;
  background-color: var(--cultured);
  width: 100vw;
  min-width: 400px;      
}
main {
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0); 
  margin: 0 10px 0 10px;
  background-color: var(--cultured);
  width: 100vw;
  max-width: 1000px;
  min-width: 400px;
}
a {
  text-decoration: none;
  color: var(--granite);
}
a:hover, a:focus {
  background-color: var(--cultured);      
}
.logo {
  width: 80px;
  height: 80px;
  color: var(--platinum);
  background-color: var(--manatee);
  border-radius: 40px;  
  font-size: 60px;
  font-weight: var(--bold);
  padding-left: 3px;
  padding-top: 17px;
  margin: 20px 10px 20px 20px;
  overflow: hidden;
  border: 0;  
  width: fit-content;
}
.logo::before{
  content: "finding norman";
}
.expandable {  
  overflow: hidden;
  color: var(--granite);        
  transition: all .1s ease-in-out;  
  width: 0;
  height: 0;     
  text-align: left;
  background-color: var(--cultured);
}
 
.expandable:target {  
  position: fixed;
  top:0px;
  width: 100%;
  height: 90vh;  
  opacity: 1;
  z-index: 1;
}

.flex-container-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;  
  align-items: baseline;  
  padding: 0 20px 0 20px;
  width: 100vw;
  max-width: 1000px;
  min-width: 400px;  
}
.flex-container-row img {
  margin: 10px;
  width: 25px;
}
.max-width {
  border-bottom: .05rem solid var(--manatee);
  width: 100%;
}
.menu-items {
  display: flex;
  flex-grow: 1;  
  justify-content: flex-end;
  gap: 10px;
  align-items: baseline;   
  color: var(--granite);
}
.menu-items a {
  text-decoration: none;
  color: var(--granite);
}
.menu-items a:hover, a:focus {
  background-color: var(--cultured);    
  border-bottom: 5px solid orangered;  
}
.menu-items a:visited:active {
  border-bottom: 5px solid orangered;  
}

@media screen and (max-width: 400px) {
  .menu-items {visibility: hidden;}      
}
@media screen and (max-width: 600px) {
  .menu-items {    
    font-size: 14px;
    font-weight: var(--regular);    
  }  
  main {    
    font-size: 14px;
    font-weight: var(--regular);        
  }  
  .logo {
    height: 60px;
    width: 60px;
    font-size: 40px;    
  }
  .expandable {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
}
@media screen and (max-width: 800px) {
  .logo {
    height: 60px;
    width: 60px;
    font-size: 40px;    
    border-radius: 30px;
  }
  .logo::before{
    content: "fn";
  }
}
.github-card {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 350px;  
  height: 400px;
  box-shadow: 0 4px 8px 0 var(--granite);
  transition: 0.3s; 
}
.card-cover {
  width: 100%;  
  text-align: center;  
  background-color: orangered;
  padding: 20px;  
}
.card-text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
img {
  width: 100%;
}
.subtext {
  font-size: 12px;
  color: var(--granite);
}
.avatar {
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  width: 120px;
  height: 120px;
  background-color: var(--cultured);
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}
.center {
  text-align: center;
}
.name {
  font-weight: var(--bold);  
}
.card-header {
  background-color: orangered;
  font-weight: var(--bold);
  color: var(--white);
}
.social-logo {
  width: 20px; 
  height: 20px;  
  position: relative;
  top: 0;
  right: 0;  
}
iframe {
  border: 0;
  width:100%;
  height:100%;   
  overflow: hidden;
  scrollbar-width: .05rem;
}
iframe::-webkit-scrollbar{
  display: none;
}
iframe {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.home {
  position: relative;  
  z-index: -1;
}